.SearchInfo {
    line-height: 1.5;
    font-size: 1.1em;
}

.SearchInfo a {
    margin-right: 17px;
    display: inline-block;
}

@media only screen and (max-width: 768px) {
    .SearchInfo a {
        margin-right: 35px;
    }
}

.SearchInfo a code {
    color: #00b5ad;
}

.SearchInfo p {
    margin-bottom: 0;
}
