.PackageSearch {
    padding-bottom: 30px;
}

.SearchInputName, .SearchInputRange {
    margin-right: 25px;
}

.SearchInputName input {
    width: 100%;
}

.SearchInputRange input {
    width: 125px;
}

@media only screen and (max-width: 1200px) {
    .SearchInputName input {
        width: 80%;
    }
}

@media only screen and (max-width: 1024px) {
    .SearchInputName input {
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) {
    .PackageSearch .ui.button {
        margin: 20px 0 0 0;
    }
}

.ResultsContainer {
    position: relative;
    margin-top: 25px;
    min-height: 300px;
}

.ui.text.loader {
    top: 220px;
}

.ui.text.loader b {
  display: inline-block;
  margin-top: 10px;
  font-size: 1.3em;
}

.ui.text.loader p {
    margin-top: 20px;
    font-style: italic;
}

.ui.input .remove.icon {
    right: 10px;
    top: 8px;
    left: auto;
    position: absolute;
}

.ui.input [placeholder]:focus::-webkit-input-placeholder {
    color: rgba(0, 0, 0, .4);
}

.SearchForm {
    line-height: 1.5;
    font-size: 16px;
}

.SearchForm .checkbox {
    margin-right: 25px;
    top: 6px;
}


.SearchForm .ui.toggle.checkbox label:after {
    background: linear-gradient(transparent,rgba(0,0,0,.05)) #5d5d5d;
}

.SearchForm .ui.toggle.checkbox label:before {
    background-color: rgba(0,0,0,.15);
}

.SearchForm .ui.large.toggle.checkbox input:checked~label:before {
    background-color: #00b5ad!important;
}

.ResultsPagination {
    margin-top: 25px;
    text-align: center;
}